.full-width {
  background: tomato;
}

.full-width-1 { background: yellow; height: 200px; }
.full-width-2 { background: orange; height: 200px; }
.full-width-3 { background: lightblue; height: 200px; }